@import "../../variables.scss";

.menu-content{
    width: 100%;

    @media (max-width: 1024px){
        background-color: #fff !important;
        color: #000 !important;
    }
}
.menu-container{
    padding: 1.3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon-white{
    filter: none;

    @media( max-width: 1024px){
        filter: invert(1);
    }
   
}

.logo-icon-black{
    filter: invert(1);
}

.menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;

    @media (max-width: 1024px){
        display: none;
    }
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 2.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.hamburger-menu{
    position: absolute;
    top: 1rem;
    right: 0;

    @media (min-width: 1024px){
        display: none;
    }
}

.MuiButtonBase-root:focus {
    outline: none;
}

.menu-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;

    @media (max-width: 1024px){
        transform: translateX(-2.9rem) translateY(-2.5px);
        width: 18%;
    }

    .user{
        @media (max-width: 1024px){
            display: none;
        }
    }
}

.menu-item{
    color: currentColor;
    transition: all .2s;
    cursor: pointer;
    

    &:hover, &:active, &:focus{
        color: currentColor;
        text-decoration: none;
        transform: scale(1.5);
    }
}

.logotest{
    @media(max-width: 1024px){
        filter: brightness(1) !important;
    }
}