@import "../../../variables.scss";

.banner-container{
    height: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.bannerlist-container{
    display: flex;
    margin-top: 2rem;
    @media (max-width: 1024px){
        display: none;
    }
}

.banner-text{
    margin:5rem 2rem;
    color: #ffffff;

    .title{
        width: 13ch;
        text-transform: uppercase;
        font-size: 1rem;
        line-height: 2;
        margin-bottom: 1.6rem;
    }
}